body{
    background-color: #e7e5e5;

}

/*INICIO DOBRA INFORMAÇÃOES*/

.main_school{
    width:100%;
    text-align: center; /* Centralizar o texto */
    margin-top: 50px; /* Ajuste o espaçamento superior conforme necessário */
    background-color: #e7e5e5;
}
/* trabalha toda a pagina */
.main_school_content{
    max-width: 1100px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    text-align: left;
    
}


.main_school_content_left{
    flex-basis: calc(65% - 20px);
    color:black;
}

.main_school_content_header{
    flex-basis: 100%;
    color: black;
    margin-bottom: 20px;
}
.main_school_content_header h2{
    font-size: 2rem;
    font-weight: 400;
}


.main_school_content_left_content p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.2rem;

}
.main_school_content_left_content h2{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}





.main_school_content_right{
    flex-basis: 35%;
}

.main_school_content_right{
    width: 100%;
    border-radius: 50%;
}
.main_school_content_right img{
    width: 100%;
}

.main_blog{
    /* max-width: calc(50%- 400px);  */
    padding: 10%x;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.main_blog_header{
    flex-basis: 100%;
    margin: px 0;
    
}
.main_blog_header h2{
    /* flex-basis: 100%; */
    margin: 30px 0;
    font-size:2rem;
    font-weight: 200;
    
}

    


 .main_blog_mitos, .main_blog_fatos, .main_blog_dicas{
    flex-basis: calc(50% - 20px); 
    margin-bottom: 30px;
    /* opacity: 0.9; */
     width: 100%; 
    margin: 20px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: justify;


 }




.main_blog_dicas{
    width: 100%;
    flex-basis: calc(100% - 20px); 
    padding: 50px;
    text-align: justify;
}
.main_blog_dicas,.main_blog_mitos, .main_blog_fatos, h2{
    font-size: 30px;
    font-weight: 300;
 
}

.main_blog_dicas li{
    font-size: 1.5rem;
    font-weight: 400;

}
.main_blog_mitos, .main_blog_fatos, li{
    font-size: 1.1rem;
    font-weight: 400;

}
.main_blog_dicas p{
    margin-bottom:20px;
    margin-top:7px;
    font-size:1.2rem;
    font-weight: 100;
}


