
.main_header_content img{
    width: 60%;
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: 5px;
    width: 290px;
}.logo1{
    width: 150px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;

}

.main_header_content_menu ul li a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    color:rgb(248, 243, 250);
}

.main_header_content_menu ul li a:hover{
    color:#fff;
    /* background-color: #861ccc; */
    /* background-color: #861ccc; */
    background-color: #5c16de;
}
/*FIM - TOPO*/


/*INICIO - 1ª DOBRA*/

.main_cta{
    width:100%;
    background-image: url('../img/fundo_1.jpg');
    background-color: #5d6468;
    /* background-color: #68aad4d8; */
    background-repeat: no-repeat;
    background-position:50% 90%;
    background-size: cover;
    opacity: 0.9;
/* }.img{
    display: flex;
    width: 30%; */
}
.main_cta .main_cta_content{
    max-width: 1300px;
    margin:0 auto;
}
.main_cta .main_cta_content h1{
    font-size: 3em;
    color:#fff;
    /* color:rgb(234, 209, 69);; */
    font-weight: 700;
    text-align: center;
    opacity: 1;
}

.main_cta .main_cta_content p{
    font-size: 1.875em;
    color: #fff;
    /* color: rgb(234, 209, 69); */
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    opacity: 1;

}
.main_cta .main_cta_content .btn{
    /* background-color: #6e3af391; */
    /* background-color: #3859c6; */
    /* background-color: #7c52e7; */
    background-color: #211d4a;
    background-color: #282173;
    color:#fff;
  
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    opacity: 1;

}
.main_cta .main_cta_content .btn:hover{
    background-color: #6e3af3;

    /* background-color: #5f2edb;     */
    font-size: 0.9em;
}

.main_cta .main_cta_content .main_cta_content_spacer{
    margin:0 auto;
    max-width: 1300px;
    padding: 170px 40px;
    
}
/*FIM - 1ª DOBRA*/

/* INICIO RODAPÉ */
.main_optin_footer{
    width: 100%;
    background-color: #f7f7f7;
}
.main_optin_footer_concent{
    max-width: 1300px;
    padding: 40px 0;
    text-align: center;
    color: #333;
    margin: 0 auto;
}
.main_optin_footer_concent h1{
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.main_optin_footer_concent .btn{
    color: #fff;
    border-radius: 5px;
    background-color: #6e3af3;
    font-size: 1.2rem;
    padding: 10px 20px;
}
.main_footer{
    max-width: 1300px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #333;
}
.main_footer header{
    flex-basis: 100%;
}
.main_footer header h1{
    font-size: 1.4rem;
    margin-bottom: 40px;

}
.main_footer article h2{
    margin-bottom: 20px;
}
.main_footer article ul li{
    list-style: none;
    margin: 5px 0;
}
.main_footer article ul li a{
    color: #333;
}
.main_footer article ul li a:hover{
    text-decoration: underline;
}
.main_footer_our_pager, .mein_footer_limks{
    flex-basis: 25%;
}
.main_footer_about{
    flex-basis: 50%;
}
.main_footer_rights{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    font-size: 0.9rem;
    color: #666;
    font-weight: 300;
}
